.valid {
    border-style: solid;
    border-color: green;
}
.unvalid {
    border-style: solid;
    border-color: red;
}

#rent .alert{
    padding: 3px!important;
}

#rent .alert-danger .form-control {
    background-color: rgba(255,0,0,0.1);
}
#rent .alert-success .form-control {
    background-color: rgba(0,255,0,0.1);
}