<h1>Wybierz jak chcesz odebrać płyty</h1>
<div class="col-md-3">
</div>
<div id="rent" class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title ">Odbiór</h3>

        </div>
        <div class="panel-body">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" [ngClass]="{'btn btn-default': true, 'active': delivery }" (click)="deliveryClick()">Dostawa do domu</button>
                <button type="button" [ngClass]="{'btn btn-default': true, 'active': personalCollection}" (click)="personalClick()">Odbiór osobisty</button>
            </div>
        </div>
        <div class="panel-heading" *ngIf="personalCollection">
            <h3 class="panel-title ">Odbiór osobisty</h3>
        </div>
        <div class="panel-body" *ngIf="personalCollection">
            Płyty będą gotowe do odbioru w ciągu 20 minut.<br />
            Rezerwacja jest ważna do końca jutrzejszego dnia.
        </div>
        <div class="panel-footer" *ngIf="personalCollection">
            <div class="btn btn-primary" (click)="personalConfirm()" data-toggle="modal" data-target="#myModal">
                Zatwierdz
            </div>

        </div>
        <div class="panel-heading" *ngIf="delivery">
            <h3 class="panel-title ">Dane do wypożyczenia</h3>
        </div>
        <div class="panel-body" *ngIf="delivery">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Zapisane adresy
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a (click)="home()">Dom</a></li>
                    <li><a (click)="work()">Praca</a></li>
                </ul>
            </div>
            <br />
            <div [ngClass]="{'input-group alert': true, 'alert-success': firstNameValid==1, 'alert-danger': firstNameValid==-1}" role="alert">
                <span class="input-group-addon" id="sizing-addon2">Imię</span>
                <input type="text" class="form-control" placeholder="Imię" aria-describedby="sizing-addon2" [(ngModel)]="firstName">
            </div>
            <div [ngClass]="{'input-group alert': true, 'alert-success': lastNameValid==1, 'alert-danger': lastNameValid==-1}" role="alert">
                <span class="input-group-addon" id="sizing-addon2">Nazwisko</span>
                <input type="text" class="form-control" placeholder="Nazwisko" aria-describedby="sizing-addon2" [(ngModel)]="lastName">
            </div>
            <div [ngClass]="{'input-group alert': true, 'alert-success': postCodeValid==1, 'alert-danger': postCodeValid==-1}" role="alert">
                <span class="input-group-addon" id="sizing-addon2">Kod pocztowy</span>
                <input type="text" class="form-control" placeholder="Kod pocztowy" aria-describedby="sizing-addon2" [(ngModel)]="postCode">
            </div>
            <div [ngClass]="{'input-group alert': true, 'alert-success': cityValid==1, 'alert-danger': cityValid==-1}" role="alert">
                <span class="input-group-addon" id="sizing-addon2">Miasto</span>
                <input type="text" class="form-control" placeholder="Miasto" aria-describedby="sizing-addon2" [(ngModel)]="city">
            </div>
            <div [ngClass]="{'input-group alert': true, 'alert-success': streetValid==1, 'alert-danger': streetValid==-1}" role="alert">
                <span class="input-group-addon" id="sizing-addon2">Ulica</span>
                <input type="text" class="form-control" placeholder="Ulica" aria-describedby="sizing-addon2" [(ngModel)]="street">
            </div>
        </div>
        <div class="panel-footer" *ngIf="delivery" >
            <div class="btn btn-primary" (click)="deliveryConfirm()" data-toggle="modal" data-target="#myModal">
                Zatwierdz
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Wypożyczenie</h4>
            </div>
            <div *ngIf="rentSuccessful" class="modal-body">
                Wypożyczono.
            </div>
            <div *ngIf="rentFailed" class="modal-body">
                Podaj poprawne dane.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>