<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Wypożyczalnia</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']" (click)="log('Strona główna');">
                        <span class='glyphicon glyphicon-home'></span> Strona główna
                    </a>
                </li>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/movies']" (click)="log('Filmy'); ">
                        <span class='glyphicon glyphicon-th-list'></span> Filmy
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/basket']" (click)="log('Koszyk');">
                        <span class='glyphicon glyphicon-th-list'></span> Koszyk
                        <span *ngIf="basketElements>0" class="badge">{{basketElements}}</span>
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/rent']" (click)="log('Wypożycz'); ">
                        <span class='glyphicon glyphicon-th-list'></span> Wypożycz
                    </a>
                </li>
                <li *ngIf="loggedIn">
                    <a [routerLink]="['/home']" (click)="logOut()"> <span class="glyphicon glyphicon-off" aria-hidden="true"></span>Wyloguj</a>
                </li>
            </ul>
        </div>
        <div id="mybutton">
            <p class="text-info " style="bottom:0; ">&copy; 2018 Daniel Dymiński</p>
        </div>
    </div>
</div>
