.caption .list-group-item > div:first-of-type {
    width: 10em;
    float: left;
}

.caption .list-group-item > div:last-of-type {
    width: auto;
    float: left;
}

.caption .list-group-item {
    height: 3em;
}

.simple-row {
    /*display: flex;*/
    margin-bottom: 1em;
}

.simple-row > div {
    /*margin-left: 3em;*/
    width: 30em;
}

.simple-row > div > input {
    width: 25em;
}
.movies-header {
    margin-bottom:1em;
}


.movies-header .input-group > div {
    margin-right: 2em;
    display: flex;
    line-height: 1em;
    text-align: center;
    width: 33%;
}

.movies-header .input-group > div input {
    margin-right: 0.5em;
}

.movie {
    height: 60em;
}
